/*   ---Searchbar ---- */
.searchbar {
    position: relative;
}

    .searchbar input.search-keyword {
        padding-right: 30px;
    }

    .searchbar:after {
        background: url(../../assets/images/search-icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        right: 6px;
        top: 9px;
        content: "";
        width: 20px;
        height: 20px;
    }

.form-control:disabled {
    cursor: no-drop;
}

/*   ---Uploader ---- */

.drop-container {
    position: relative;
    height: 85px;
    width: 85px;
    border-radius: 10px;
    border: 2px dashed #d1cece;
    color: #444;
    cursor: pointer;
    background: #eee;
}

    .drop-container:hover {
        background: #eee;
        border-color: #444;
    }

        .drop-container:hover .drop-title {
            color: #222;
        }

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 29%;
    left: 34%;
    transition: color .2s ease-in-out;
}

input[type=file] {
    display: none;
    max-width: 100%;
    color: #444;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

    input[type=file]::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #084cdf;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
    }

        input[type=file]::file-selector-button:hover {
            background: #0d45a5;
        }

.input-group input {
    border-radius: .25rem !important;
}
.ui-datepicker {
    width: 14em !important;
}
